.form-check-input{
    margin-top: 1.3rem;
    margin-left: -1rem; 
}
.input-group{
    height: 4.2rem !important;
}
.form-control{
    height: 4.2rem !important;
}
.spacer{
    height:11rem;
}
.spacer1{
    height:4.5rem;
}