.overlay{
    opacity: 1;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
.share-spacer{
    height: 6rem;
}
.share{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    width: 50%;
    z-index: 1;
    padding: 1em;
    background: whitesmoke;
}

.share, .overlay{
    display: none;
}

/* added with js */
.show-share{
    display: block;
}